include _config.jade

+html5
  +head('SEGEM | Logística Especializada', 'Logística especializada, ', 'Descripción')
  
  body(ng-app="dw4")
    
    .container: .c.tac: img(src="app/img/segem.svg", alt="SEGEM Logística Especializada").mt2.mb2

    
  
    +scripts
