:root{
  --red : #D91C1C;
  --grey: #56626C;
}
body{
  font-family: 'Open Sans Condensed', sans-serif;
}
.segem{
  padding: 20px;
}
.segem img{
  max-width: 100%;
}

.banner{
  padding: 20px;
  background: url(imgs/headbg.jpg);
}

.banner h2{
  font-size: 2rem;
  font-weight: 700;
}
.banner h3{
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--red);
}

.banner .column{
  background: var(--grey);
  color:#fff;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 10px;
}

section h2{
  font-weight: 700;
  font-size: 1.8rem;
}
section p{
  margin: 20px 0;
  font-size: 1.2rem;
}


.extra{
  padding: 20px;
  background: var(--grey);
  color:#fff;
  border-bottom: 4px solid var(--red);
}
.extra h3{
  font-weight: 700;
  font-size: 1.8rem;
}
.extra h4{
  font-weight: 700;
  font-size: 1.6rem;
}

address{
  padding: 10px;
  font-style: normal;
}
